<div style="width:100%; font-family:'{{ kimlik.font_adi }}', Arial, sans-serif; padding:0 14mm; box-sizing:border-box; -webkit-print-color-adjust:exact;">
  <table style="width:100%; border-collapse:collapse;">
    <tr>
      <td style="vertical-align:middle; width:40mm;">
        {% if logo %}<img src="{{ logo }}" style="height:12mm;">{% endif %}
      </td>
      <td style="text-align:right; vertical-align:middle;">
        <div style="font-size:15px; font-weight:bold; color:{{ kimlik.ana_renk_hex }};">{{ kimlik.firma_adi }}</div>
        {% if kimlik.slogan %}<div style="font-size:9px; color:{{ kimlik.ikincil_renk_hex }}; margin-top:1px;">{{ kimlik.slogan }}</div>{% endif %}
      </td>
    </tr>
  </table>
  <div style="border-bottom:2px solid {{ kimlik.ana_renk_hex }}; margin-top:3px;"></div>
</div>
